@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Вариант № 29: «Компьютерная фирма»
    <p>
        Описание предметной области:<br />
        4. Виды комплектующих (наименование, описание).<br/>
        5. Комплектующие (вид комплектующего, марка, фирма-производитель, странапроизводитель,   дата   выпуска,   характеристики,   срок   гарантии,   описание,
        цена).<br />
        6. Заказчики (ФИО, адрес, телефон, наличие и величина скидки).<br />
        7. Услуги (наименование, описание, стоимость).<br />
        8. Заказы (дата заказа, дата исполнения, заказчик, список комплектующих – до пяти, предоплата, отметки об оплате и выполнении заказа, общая стоимость,
        срок общей гарантии, список услуг – до пяти, сотрудник, ответственный за выполнение заказа).<br />
    </p>

    <p>
        Дополнительные требования к отображению данных:<br />
        1. Отдел кадров (данные обо всех сотрудниках с определенными: ФИО, стажем работы; отображение сведений о сотрудниках, ответственных за выполнение
        текущих заказов).<br />
        2. Список комплектующих (полные сведения обо всех комплектующих различных видов; данные о комплектующих с определенными: страной-производи-
        телем, видом, сроком гарантии).<br />
        3. Список заказов (данные обо всех заказах; данные о заказах заданного заказчика; данные о заказах, использующих определенные комплектующие; данные
        о заказах с предоплатой 50 %; данные о заказах со скидкой; данные о просроченных заказах).<br />
    </p>
</div>